{% extends "mysite/index.html" %}
{% load static %}



{% block content %}
    <!-- Page content -->
    <main class="content-wrapper">

      <!-- Breadcrumb -->
      <nav class="container position-relative z-2 pt-lg-2 mt-3 mt-lg-4" aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item"><a href="{% url 'site_home' %}">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Product page</li>
        </ol>
      </nav>

      <!-- Product gallery + Product details -->
      <section class="container pt-md-4 pb-5 mt-md-2 mt-lg-3 mb-2 mb-sm-3 mb-lg-4 mb-xl-5">
        <div class="row align-items-start">

          <!-- Product gallery -->
          <div class="col-md-6 col-lg-7 sticky-md-top z-1 mb-4 mb-md-0" style="margin-top: -120px">
            <div class="d-flex" style="padding-top: 120px">

              <!-- Thumbnails -->
              <div class="swiper swiper-load swiper-thumbs d-none d-lg-block w-100 me-xl-3" id="thumbs" data-swiper="{
                &quot;direction&quot;: &quot;vertical&quot;,
                &quot;spaceBetween&quot;: 12,
                &quot;slidesPerView&quot;: 4,
                &quot;watchSlidesProgress&quot;: true
              }" style="max-width: 96px; height: 420px;">
                <div class="swiper-wrapper flex-column">
                  {% for image in product_images %}
                    <div class="swiper-slide swiper-thumb">
                      <div class="ratio ratio-1x1" style="max-width: 94px">
                        <img src="{{ image.image.url }}" class="swiper-thumb-img" alt="Thumbnail">
                      </div>
                    </div>
                  {% endfor %}

                  
                </div>
              </div>

              <!-- Preview (Large image) -->
              <div class="swiper w-100" data-swiper="{ &quot;loop&quot;: false, &quot;thumbs&quot;: { &quot;swiper&quot;: &quot;#thumbs&quot;},
                &quot;pagination&quot;: { &quot;el&quot;: &quot;.swiper-pagination&quot;,&quot;clickable&quot;: true}}">
                <div class="swiper-wrapper">
                  {% for image in product_images %}
                  <div class="swiper-slide">
                    <a class="ratio ratio-1x1 d-block cursor-zoom-in" target="_blank" href="{{ image.image.url }}" data-glightbox="" data-gallery="product-gallery">
                      <img src="{{ image.image.url }}" alt="Preview" style="border-radius: 25px;">
                    </a>
                  </div>
                  {% endfor %}
                </div>

                <!-- Slider pagination (Bullets) visible on screens > 991px wide (lg breakpoint) -->
                <div class="swiper-pagination mb-n3 d-lg-none"></div>
              </div>
            </div>
          </div>


          <!-- Product details -->
          <div class="col-md-6 col-lg-5 position-relative">
            <div class="ps-xxl-3">
              <p class="fs-sm text-body-secondary">{{product.category.parent_category}} / {{product.category}}</p>
              <h1 class="h5 mb-2">{{ product.name }}</h1>
              
              <div class="d-flex gap-5 mb-4 align-items-center">
                <div class="h2">₹{{ product.price }}</div>
                <!-- Add to cart button -->
                <a href="javascript:void(0);" class="add-to-cart" data-product-id="{{ product.id }}" style="flex-grow: 1;">
                  <button type="button" class="btn btn-lg btn-primary rounded-pill w-100">Add to cart</button>
                </a>
              </div>
              <div class="fs-sm fw-medium text-danger">{{ product.stock }} Available Stock</div>
              

              <p class="fs-sm mb-4">Description : {{ product.description }}</p>
              <p class="fs-sm mb-4">Tags: 
                {% for tag in product.tags.all %}
                  <span class="badge bg-primary">{{ tag.name }}</span>
                {% empty %}
                    No tags available
                {% endfor %}
              </p>
              <p class="fs-sm mb-4">Variants: 
                {% for variant in product.variants.all %}
                  <span class="badge bg-secondary">{{ variant.name }}: {{ variant.value }}</span>
                {% empty %}
                    No variants available
                {% endfor %}
              </p>

              <!-- Product info accordion -->
              <div class="accordion accordion-alt-icon py-2 mb-4" id="productAccordion">
                <div class="accordion-item">
                  <h3 class="accordion-header" id="headingProductInfo">
                    <button type="button" class="accordion-button animate-underline collapsed" data-bs-toggle="collapse" data-bs-target="#productInfo" aria-expanded="false" aria-controls="productInfo">
                      <span class="animate-target me-2">About this product</span>
                    </button>
                  </h3>
                  <div class="accordion-collapse collapse" id="productInfo" aria-labelledby="headingProductInfo" data-bs-parent="#productAccordion">
                    <div class="accordion-body">{{ product.description }}</div>
                  </div>
                </div>
              </div>

              <!-- Related products -->
              <h2 class="h5 pt-5">Related products</h2>
              <div class="d-flex border rounded-5 px-2 mb-4">
                <div class="w-50">
                  <div class="card product-card h-100 bg-transparent border-0 shadow-none">
                    <div class="position-relative z-2">
                      <button type="button" class="btn btn-icon btn-sm btn-secondary animate-pulse fs-sm bg-body border-0 position-absolute top-0 end-0 z-2 mt-1 mt-sm-2 me-1 me-sm-2" aria-label="Add to Wishlist">
                        <i class="ci-heart animate-target"></i>
                      </button>
                      <a class="d-block p-2 p-lg-3" href="#!">
                        <div class="ratio" style="--cz-aspect-ratio: calc(160 / 191 * 100%)">
                          <img src="{% static 'site_assets/img/shop/grocery/12.png' %}" alt="Image">
                        </div>
                      </a>
                    </div>
                    <div class="card-body pt-0 px-1 px-md-2 px-lg-3 pb-2">
                      <div class="h6 mb-2">$2.59</div>
                      <h3 class="fs-sm lh-base mb-0">
                        <a class="hover-effect-underline fw-normal" href="#!">Soft creme cheese with greens Exquisa</a>
                      </h3>
                    </div>
                    <div class="fs-xs text-body-secondary px-1 px-md-2 px-lg-3 pb-2 pb-md-3">150g</div>
                  </div>
                  </div>
                <hr class="vr my-0 mx-2">
                <div class="w-50">
                  <div class="card product-card h-100 bg-transparent border-0 shadow-none">
                    <div class="position-relative z-2">
                      <button type="button" class="btn btn-icon btn-sm btn-secondary animate-pulse fs-sm bg-body border-0 position-absolute top-0 end-0 z-2 mt-1 mt-sm-2 me-1 me-sm-2" aria-label="Add to Wishlist">
                        <i class="ci-heart animate-target"></i>
                      </button>
                      <a class="d-block p-2 p-lg-3" href="#!">
                        <div class="ratio" style="--cz-aspect-ratio: calc(160 / 191 * 100%)">
                          <img src="{% static 'site_assets/img/shop/grocery/11.png' %}" alt="Image">
                        </div>
                      </a>
                    </div>
                    <div class="card-body pt-0 px-1 px-md-2 px-lg-3 pb-2">
                      <div class="h6 mb-2">$3.40</div>
                      <h3 class="fs-sm lh-base mb-0">
                        <a class="hover-effect-underline fw-normal" href="#!">Fresh red grapefruit</a>
                      </h3>
                    </div>
                    <div class="fs-xs text-body-secondary px-1 px-md-2 px-lg-3 pb-2 pb-md-3">1kg</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      
    </main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    $('.add-to-cart').on('click', function() {
        var productId = $(this).data('product-id');

        $.ajax({
            url: '{% url "add_to_cart" %}',
            type: 'POST',
            data: {
                'product_id': productId,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response) {
                if (response.success) {
                  window.location.reload();
                } else {
                    if (response.redirect_url) {
                        window.location.href = response.redirect_url;
                    }
                }
            },
            error: function(xhr, textStatus, errorThrown) {
                console.log("AJAX Error: " + textStatus);
                alert("An error occurred while adding the product to the cart.");
            }
        });
    });
});
</script>
{% endblock content %}